body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #f6f6f6;
}

header {
  background-color: #1f2937;
  color: white;
  padding: 1rem 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.container {
  padding: 2rem;
}

.table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 1rem;
  background-color: white;
  font-family: sans-serif;
  
}

.table th,
.table td {
  border: 1px solid #ddd;
  padding: 0.75rem;
  text-align: left;
}
.search{
  display:flex;
  justify-items: end;
}
.table th {
  background-color: #f3f4f6;
  cursor: pointer;
}

.input {
  padding: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 4px;
  width: 300px;
  margin-left: auto;
}

.btn {
  background-color: #778899;
  color: white;
  border: none;
  padding: 0.5rem 1rem;
  cursor: pointer;
  border-radius: 4px;
  margin-right: 1rem;
}

.profile-box {
  background-color: #778899;
  padding: 2rem;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
  max-width: 600px;
  margin: auto;
}

.profile-box p {
  margin-bottom: 1rem;
  line-height: 1.5;
}

.pagination-container {
  display: flex;
  justify-content: flex-center;
  align-items: center;
  gap: 1rem;
  margin-top: 1rem;
}

.pagination-buttons button {
  margin: 0 2px;
  padding: 5px 10px;
  border: 1px solid #ccc;
  background-color: #778899;
  cursor: pointer;
}

.pagination-info {
  font-size: 0.875rem;
  color: #778899;
}